body {
  background-color: #efefef;
  font-family: sans-serif;
  color: #101010;
}

nav {
  margin: 5% auto;
  position: fixed;
  min-width: 100px;
  height: 100%;
  border-right: 1px solid;
}

a {
  display: block;
  padding: 10px;
}

#main-doc {
  position: absolute;
  margin-left: 100px;
  padding: 25px;
  margin-bottom: 110px;
}

section {
  max-width: 80%;
  margin: 0 auto;
}

header {
  font-size: 1.5em;
  font-style: strong;
}

pre code {
  background-color: #dddddd;
  border: 1px solid #999999;
  display: block;
  padding: 10px;
  font-size: 1.1em;
}

@media screen and (max-width: 400px) {
  nav {
    margin: 5% auto;
    position: fixed;
    min-width: 60px;
    height: 100%;
    border-right: 1px solid;
    font-size:0.8em;
  }

  #main-doc {
    position: absolute;
    margin-left: 60px;
    padding: 25px;
    margin-bottom: 110px;
  }

  p, code {
    font-size: 0.8em;
  }
}